<!-- <div class="d-flex flex-wrap justify-content-evenly align-items-center mt-5" style="box-sizing: border-box;">
  <div class="card " style="width: 22rem; height: 18rem; border: 1; box-shadow: 5px 5px 3px grey;" >
    <div class="card-body">
      <div class="image mx-auto">
        <img
          src="/assets/Images/png1.png"
          alt="image"
        />
      </div>
      <p class="card-text">
        Millions of people register on our website looking for someone special.
        This site is for serious singles looking for a long lasting
        relationship.
      </p>
    </div>
  </div>
  <div class="card" style="width: 22rem; height: 18rem; border: 1; box-shadow: 5px 5px 3px grey; ">
    <div class="card-body">
      <div class="image mx-auto">
        <img
          src="/assets/Images/donations.jpeg"
          alt="image"
        />
      </div>
      <p class="card-text">
        80% of our members are highly educated. Most of them are successful
        professionals in their selected fields.
      </p>
    </div>
  </div>
  <div class="card" style="width: 22rem; height: 18rem; border: 1; box-shadow: 5px 5px 3px grey;">
    <div class="card-body">
      <div class="image mx-auto">
        <img
          src="/assets/Images/pngwing.png"
          alt="image"
        />
      </div>
      <p class="card-text">
        Khandar.com uses a smart matchmaking system. We present you matches based
        on current location, education level & lifestyle choices.
      </p>
    </div>
  </div>
</div>




 -->
  
 <div class="container mt-5 mb-5">
  <div class="card">
      <div class="face face1">
          <div class="content">
              <div class="icon">
                <img  src="/assets/Images/about4.jpeg" style="width:300px; height: 220px;" alt="">
              </div>
          </div>
      </div>
      <div class="face face2">
          <div class="content">
              <h3>
                 Partner Seeker
              </h3>
              <p>Discover your perfect match through Khandar's® advanced tool which analyzes compatibility based on shared values</p>
          </div>
      </div>
  </div>
  <div class="card">
      <div class="face face1">
          <div class="content">
              <div class="icon">
                  <img src="/assets/Images/about5.jpeg" style="width:300px; height: 220px;" alt="">
              </div>
          </div>
      </div>
      <div class="face face2">
          <div class="content">
              <h3>
                  Donations
              </h3>
              <p>Khandar® integrates a donation module, allowing generous individuals to contribute towards supporting deserving indiviuals in their journey.
              </p>
          </div>
      </div>
  </div>
  <div class="card">
      <div class="face face1">
          <div class="content">
              <div class="icon">
                  <img src="assets/Images/img2.jpg" style="width:300px; height: 220px;" alt="">
              </div>
          </div>
      </div>
      <div class="face face2">
          <div class="content">
              <h3>
                Teams 
              </h3>
              <p>Khandar® members actively verify and foster community responsibility, promoting transparency in both match-making and philanthropy, demonstrating their commitment.
              </p>
          </div>
      </div>
  </div>
</div>
