
<main class="main">
  <div class="container">
     <div class="inner">
        <div class="inner__headings">
           <h5 class="inner__sub text-danger">Khandar</h5>
           <h2 class="inner__head">"Where love finds a home and charity finds a cause"</h2>
        </div>
   
     </div>
     <div class="cards-grid mb-5">
        <div class="card">
           <img class="card__icon" src="/assets/Images/img1.jpg" alt="ux-design">
           <div class="card__body">
              <h4 class="card__head">Partner Seeker</h4>
              <p class="card__content">Discover your perfect match through Khandar's®</p>
              <button  routerLink="/partnerseeker/seeker" class="btn btn-success mt-3" style="width: 40%; height: 60px;">Add Partner</button>

           </div>
        </div>
        <div class="card">
           <img class="card__icon" src="/assets/Images/img2.jpg" alt="development">
           <div class="card__body">
              <h4 class="card__head">Donations</h4>
              <p class="card__content">To do more for the world than the world does for you – that is success.</p>
              <button routerLink="/partnerseeker/pay-donation" class="btn btn-success mt-3" style="width: 40%; height: 60px;">Donate</button>
           </div>
        </div>
       
     </div>
  </div>
</main>
