<main class="main mb-5">
    <div class="container">
       <div class="inner">
          <div class="inner__headings">
             <h5 class="inner__sub">Khandar</h5>
             <h2 class="inner__head">"Revolutionizes matchmaking, combining technology and social welfare for positive change."
                 </h2>
                </div>
          <div class="inner__content">
             <p class="inner__text">The "Khandar" project pioneers a transformative approach to marriage matchmaking. It leverages technology to simplify the process, extending financial aid to those seeking life partners. Beyond conventional norms, it addresses contemporary challenges, offering a comprehensive and user-friendly platform. What sets "Khandar" apart is its dual focus on fostering connections and supporting the underprivileged. By providing financial assistance in the marriage context, it aims to be a non-profit force for societal betterment. This blend of matchmaking and social welfare showcases technology's potential for positive impact, aiming to uplift individuals and society collectively.</p>
          </div>
       </div>
       <div class="cards-grid">
          <div class="card">
             <img class="card__icon" src="/assets/Images/aboutus2.jpeg" alt="ux-design">
             <div class="card__body">
                <h4 class="card__head">Match Making</h4>
                <p class="card__content">"Building on ManzimYoor's legacy, Khandar redefines matchmaking—tech-driven, user-friendly, with transformative societal impact."</p>
             </div>
          </div>
          <div class="card">
             <img class="card__icon" src="/assets/Images/aboutus4.jpeg" alt="development">
             <div class="card__body">
                <h4 class="card__head">Donations</h4>
                <p class="card__content">"Transformative donations empower change, supporting underprivileged individuals in marriage. Building a non-profit platform for betterment."</p>
             </div>
          </div>
          <div class="card">
             <img class="card__icon" src="/assets/Images/aboutus1.jpeg" alt="brand">
             <div class="card__body">
                <h4 class="card__head">Fostering Community</h4>
                <p class="card__content">"We responsibly utilize donations from Khandar members to support underprivileged individuals, fostering positive impact."</p>
             </div>
          </div>
       </div>
    </div>
 </main>