

  <div class="row w-100" style="margin: 0;">
    <div class="col-12 ">
    <div id="carouselExampleDark" class="carousel carousel-light slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner  ">
        <div class="carousel-item active" data-bs-interval="4000">
          <img src="/assets/Images/img1.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h1 class="text-light">وَخَلَقْنَاكُمْ أَزْوَاجًا</h1>
            <h3 class="text-light">And we Created You in pairs</h3>
          </div>
        </div>
        

        <div class="carousel-item" data-bs-interval="4000">
          <img src="/assets/Images/img2.jpg" class="d-block   w-100 " alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h3 >Where Love find a Home, Charity finds a cause</h3>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img src="/assets/Images/img3.jpeg" class="d-block w-100 " alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h3>In the realm of love and charity, Khandar stands as a testament to the transformative power of unity."</h3>
          </div>

         
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<div class="row">
  <app-donation-appeals></app-donation-appeals>
</div>

<div class="row">

  <app-about style="background-color: e8e8e8;"></app-about>
</div>
<div class="row">

  <app-about-us></app-about-us>
</div>
<div class="row">

  <app-testimonial></app-testimonial>
  <app-contact-us></app-contact-us>
  <app-meet-teem></app-meet-teem>
</div>

