
<div class="row">
    <div class="col-6 offset-3">
        <div class="change-password-body card content container my-5 mb-5">

            <div class="card-body">
                <div class="text-heading text-center text-dark mt-5 mb-5 h3 ">
                    CHANGE PASSWORD
                </div>
        
        
                <form #changePassForm="ngForm">
                    <!-- Old Password  -->
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your old password" required id="oldPassword"
                            name="Password" #oldPassword="ngModel" [(ngModel)]="changePasswordModel.oldPassword"
                            [class.is-invalid]="oldPassword.touched&& oldPassword.invalid">
                        <div *ngIf="oldPassword.touched && oldPassword.invalid" class="text-danger">
                            <div *ngIf="oldPassword.errors && oldPassword.errors['required']">
                                *Your old Password is required
                            </div>
                        </div>
                    </div>
        
        
                    <!-- New Password  -->
                    <div class="form-group mt-5">
                        <!-- <label for="newPassword">New Password</label> -->
                        <input type="password" class="form-control" required id="newPassword" placeholder="Your new password"
                            name="newPassword" #newPassword="ngModel" [(ngModel)]="changePasswordModel.newPassword"
                            [class.is-invalid]="newPassword.touched&& newPassword.invalid">
                        <div *ngIf="newPassword.touched && newPassword.invalid" class="text-danger">
                            <div *ngIf="newPassword.errors && newPassword.errors['required']">
                                *Your new Password is required
                            </div>
                        </div>
                    </div>
        
                    <!-- Confirm Password  -->
                    <div class="form-group mt-5">
                        <!-- <label for="confirmPassword">Confirm Password</label> -->
                        <input type="password" class="form-control" required placeholder="Enter new password again"
                            id="confirmPassword" name="confirmPassword" #confirmPassword="ngModel"
                            [(ngModel)]="changePasswordModel.confirmPassword"
                            [class.is-invalid]="confirmPassword.touched&& confirmPassword.invalid">
                        <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="text-danger">
                            <div *ngIf="confirmPassword.errors && confirmPassword.errors['required']">
                                Please enter your password again
                            </div>
                        </div>
        
        
                        <!-- Submit Button  -->
        
                        <div class="form-group text-center mt-5 mb-5">
                            <button class="btn btn-outline-success submit-button" (click)="changePassword()">Change</button>
                        </div>
                    </div>
        
        
                </form>
            </div>
        </div>
    </div>

</div>




<!-- <div class="container ">
       
    <div class="row" >
        <div class="col-md-2">
        </div>
       
        <div class="col-md-8 py-2 content">
            
            <h2 class="d-flex justify-content-center my-3">Old Details</h2>
            <form action="" #qualificationForm="ngForm" (ngSubmit)="submitQualification()">
                
                <div class="form-floating my-4 mx-4">
                    <input type="text" 
                     placeholder="Course Name" 
                     id="name" 
                     class="form-control"
                     name="name"
                    [(ngModel)]="Qualification.name"
                    required
                    #name="ngModel"
                    [class.is-invalid]="name.touched&&name.invalid">
                    <label for="name">Course</label>
                  </div>
                  
                    <div class="form-floating my-4 mx-4 ">
                        <select type="text" 
                        name="qualificationType"
                         placeholder="Type of Qualification"
                          id="qualificationType" 
                          class="form-select"
                        [(ngModel)]="Qualification.qualificationType"
                        required
                    #qualificationType="ngModel"
                    [class.is-invalid]="qualificationType.touched && qualificationType.invalid"
                        >
                        <option selected disabled value="0" >Choose an option</option>
                        <option value="1">High School</option>
                        <option value="2">Diploma</option>
                        <option value="3">Bachelor</option>
                        <option value="4">Masters</option>
                        <option value="5">Doctorate</option>
                        <option value="6">Certification</option>
                    </select>
                        <label for="qualificationType">Course Type</label>
                    </div>
              

                  <div class="form-floating my-4 mx-4">

                    <input type="text" 
                    name="institution" 
                    placeholder="Name of Institution"
                     id="institution" 
                     class="form-control"
                    [(ngModel)]="Qualification.institution"
                    #institution="ngModel"
                    [class.is-invalid]="institution.touched && institution.invalid"
                    >
                      <label for="institution">Institution</label>
                  </div>

                  <div class="form-floating my-4 mx-4">
                    <input type="text"
                     name="yearOfPassing"
                      placeholder="Completion of Course" 
                      id="yearOfPassing"
                       class="form-control"
                        [(ngModel)]="Qualification.yearOfPassing"
                        #yearOfPassing="ngModel"
                         pattern="^\d{4}$"

                        [class.is-invalid]="yearOfPassing.touched && yearOfPassing.invalid">
                        <label for="yearOfPassing">Year Of Passing</label>
                        <p *ngIf="yearOfPassing.touched && yearOfPassing.invalid" class="text-danger">
                            <span *ngIf="yearOfPassing.errors && yearOfPassing.errors['pattern']">
                              Invalid Year
                            </span>
                          </p></div>
               
                     
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-outline-success btn-w me-4 mb-3" [disabled]="qualificationForm.invalid">Save</button>
                    </div>
         </form>
        </div>
        <div class="col-md-2">
        </div>
        </div>
       

    </div> -->

